<div class="member{{#if classes}} {{classes}}{{/if}}">

  {{#if this.photo}}
    <img src="{{this.photo}}" alt="Фото - {{this.name}}" class="member__photo">
  {{else}}
    <div class="member__photo">
      {{> elements/default-member-image}}
    </div>
  {{/if}}

  <p class="member__name">{{{this.name}}}</p>
  <p class="member__rank">{{{this.rank}}}</p>

  {{> elements/button hrefAttr=this.url text='Подробнее' classes='button_small member__about-button'}}
</div>
